.container_searchlist{
    background-color: white;
    width: 90.75%;
    position: absolute;
    top: 2.7rem;
    height: fit-content;
    z-index:91;
    
}
.titleitem{
    margin: 0;
    padding: 0.5rem;
    cursor: pointer;
    color: #000;
}
.titleitem:hover{
    background-color: rgba(166,202,234,0.516);
}