.comments_sub_form_comments{
    display: flex;
    width: 70%;
}
.comment_ibox{
    width:80%;
    padding:0.5%;
    padding-left: 2%;
    background-color: transparent;
    border: 0;
    color: black;
    border-bottom: 2px solid rgb(192, 191, 191);
}
.comments_add_btn_comments{
    cursor: pointer;
    border: 2px solid transparent;
    border-bottom: 2px solid rgb(192, 191, 191);
    color: rgb(49, 58, 65);
    font-size: large;
    width: 20%;
}
.comments_add_btn_comments:hover{
    border:  2px solid rgba(64,64,64,0.05)
   ; border-bottom:  2px solid rgb(192, 191, 191);
   background-color: rgb(116, 115, 115);
}
.display_comment_container{
    padding: 1rem;
}
/**display comment*/
.comment_body{
    color: black  ;
    margin: 0;
    margin-top: 0.5rem;
}
.usercommented{
    color: gray;
    margin: 0;
}
.EditDel_displaycomment{
    padding: 0.2rem;
    margin: 0;
    margin-bottom: 0.8rem;
    color: rgba(44,85,209,0.696);
    cursor: pointer;
}
.EditDel_displaycomment i{
    padding: 0.2rem;
}